* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: rgb(153, 152, 152);

}


header {
    background-image: url(../imagenes/f9dad37a-f810-4d9e-a854-00dad397070d.jpg);
    background-position: left center;
    overflow: hidden;
    height: 380px;


}

.donde-estoy {
    color: black;
    text-align: center;
    font-size: 38px;
    position: relative;
    top: -62px;


}

/*  INICIO NAVEGADOR */

.navegador {

    display: flex;

    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 77px;
    opacity: 0.8;

    bottom: 77px;
    width: 100%;

    position: relative;

}




.li-item {
    display: inline-block;
    text-transform: capitalize;

    padding: 30px;
    letter-spacing: 2px;
    font-size: 22px;
    transition: 0.2s;
}

.li-item:hover {
    background: rgb(77, 77, 224);
    box-shadow: 0 0 10px rgb(77, 77, 224), 0 0 40px rgb(77, 77, 224), 0 0 80px rgb(77, 77, 224);
    /* transition-delay: 1s; */
}

a {
    text-decoration: none;
    color: white;


}

/*  FIN NAVEGADOR */



/*solo se usa en about/contact*/
.columna-2 {
    right: 3px;
    margin-top: 137px;
    margin-left: 132px;
    position: relative;
    bottom: 141px;

}

/*FOOTER*/

 
footer{
    background: #333;;
    color: white;
    text-transform: uppercase;
    padding: 41px 15%;
    width: 70%;
    margin: 0;
    font-size: 12px;
    line-height: 1.5em;
    display: flex;

}
footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}
footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}
.form-footer input{
    width: 400px;
    height: 45px;
    border-radius: 6px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
   
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
.ul-footer i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}




/*INICIO LOGO*/

.div-logo {
    position: absolute;
    bottom: 435px;
    left: 50px;
}

#logo {
    width: 200px;

}


/*FIN LOGO*/


.redes-style {
    width: 20px;
}




/* INICIO DEL INDEX*/
#style-index {
    position: relative;
    bottom: 455px;
    right: 366px;

}

.div-welcome {
    background-color: black;
    height: 400px;
    position: relative;
    bottom: 77px;

}

.div-welcome p {
    color: #fff;

}




/*STYLE FOTO CON TEXTO*/
/*OPCION 1*/
.text-home {
    width: 483px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 694px;
    right: 200px;
    bottom: 258px;
    font-size: 25px;
}



/*STYLE DE SCROLL IMAGENES*/

.contendedor-foto-desplazables {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    position: relative;
    bottom: 182px;
}

#img-scroll {

    width: 281px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);

}

#img-scroll img {
    width: 400px;
    height: 100%;
    transition: 2s;

}

#img-scroll img:hover {
    transform: translateX(-30%);
    filter: brightness();
}

/* CARRUSEL DE FOTOS*/

.contenedor-carrusel {
    width: 50%;
    position: relative;
    top: 82px;
}

.slider {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0px;
    width: 400%;
    animation: cambio 20s infinite;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}





.bg-7 h1 {
    position: relative;
}

.bg-7 h1::after {
    content: "Welcome to Mighty Ducks Hockey League";
    font-size: 59px;
    letter-spacing: 0px;
    background-size: 150%;
    background: linear-gradient(135deg, #fcdf8a, #f38381);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-stroke-width: 0;
    -webkit-text-stroke-width: 0;
    position: absolute;
    text-align: center;
    left: 528px;
    right: 45px;
    top: -44px;
    z-index: 2;
    -webkit-animation: pulse-delay 8.5s linear 0.5s infinite alternate;
    animation: pulse-delay 8.5s linear 0.5s infinite alternate;
}

@keyframes pulse-delay {
    0% {
        background: -webkit-linear-gradient(315deg, #fcdf8a, #f38381);
        background: -o-linear-gradient(315deg, #fcdf8a 0, #f38381 100%);
        background: linear-gradient(135deg, #fcdf8a, #f38381);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    4.16667% {
        background: -webkit-linear-gradient(315deg, #c3ec52, #0ba29d);
        background: -o-linear-gradient(315deg, #c3ec52 0, #0ba29d 100%);
        background: linear-gradient(135deg, #c3ec52, #0ba29d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    8.33333% {
        background: -webkit-linear-gradient(315deg, #13f1fc, #0470dc);
        background: -o-linear-gradient(315deg, #13f1fc 0, #0470dc 100%);
        background: linear-gradient(135deg, #13f1fc, #0470dc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    12.5% {

        background: -webkit-linear-gradient(315deg, #ce9ffc, #7367f0);
        background: -o-linear-gradient(315deg, #ce9ffc 0, #7367f0 100%);
        background: linear-gradient(135deg, #ce9ffc, #7367f0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    16.6667% {
        background: -webkit-linear-gradient(315deg, #f36265, #961276);
        background: -o-linear-gradient(315deg, #f36265 0, #961276 100%);
        background: linear-gradient(135deg, #f36265, #961276);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    20.8333% {
        background: -webkit-linear-gradient(315deg, #184e68, #57ca85);
        background: -o-linear-gradient(315deg, #184e68 0, #57ca85 100%);
        background: linear-gradient(135deg, #184e68, #57ca85);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    25% {
        background: -webkit-linear-gradient(315deg, #fad961, #f76b1c);
        background: -o-linear-gradient(315deg, #fad961 0, #f76b1c 100%);
        background: linear-gradient(135deg, #fad961, #f76b1c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    29.1667% {
        background: -webkit-linear-gradient(315deg, #f2d50f, #da0641);
        background: -o-linear-gradient(315deg, #f2d50f 0, #da0641 100%);
        background: linear-gradient(135deg, #f2d50f, #da0641);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    33.3333% {
        background: -webkit-linear-gradient(315deg, #f54ea2, #ff7676);
        background: -o-linear-gradient(315deg, #f54ea2 0, #ff7676 100%);
        background: linear-gradient(135deg, #f54ea2, #ff7676);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    37.5% {
        background: -webkit-linear-gradient(315deg, #0ff0b3, #036ed9);
        background: -o-linear-gradient(315deg, #0ff0b3 0, #036ed9 100%);
        background: linear-gradient(135deg, #0ff0b3, #036ed9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    41.6667% {
        background: -webkit-linear-gradient(315deg, #17ead9, #6078ea);
        background: -o-linear-gradient(315deg, #17ead9 0, #6078ea 100%);
        background: linear-gradient(135deg, #17ead9, #6078ea);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: -webkit-linear-gradient(315deg, #17ead9, #6078ea);
        background: -o-linear-gradient(315deg, #17ead9 0, #6078ea 100%);
        background: linear-gradient(135deg, #17ead9, #6078ea);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


/*FIN DEL INDEX*/






/*INICIO RULES*/

.encabezado-rules {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.texto-rules {
    margin: 86px;
    line-height: 1.8;
    color: black;
}

.img-rules {
    width: 50px;
    position: relative;
    left: 100px;
    bottom: -94px
}

#rules {
    width: 263px;
    transform: rotate(-20deg);
}

#rules-space-li {
    position: relative;
    left: 41px;
}

/*FIN RULES*/




/*INICIO SCHEDULE*/


.nombre {

    color: black;
    font-size: 38px;
    text-align: center;

}

.texto-final-schedule {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 63px;
    margin-bottom: 60px;
    margin-left: 43px;
}

.primer-texto {
    margin: 5px;
    margin-left: 51px;
}

.div-tabla {
    margin-top: 42px;
    display: flex;
    flex-direction: column-reverse;


}

.div-tabla {
    width: 100%;
    display: flex;
    flex-direction: unset;
    justify-content: space-around;
    margin-top: 42px;
}

th {
    background-color: rgb(3, 1, 22);
    color: white;
    font-size: 30px;
    border-bottom: solid 5px 0.5;
    padding: 13px;

}

tbody {
    /* background-image: url(../imagenes/fondo-tabla-3.jpg); */
    /* background-repeat: no-repeat; */
    background-color: rgb(75, 100, 245);
    color: black;
    font-size: 20px;
    background-size: 100% 100%;
    font-weight: 900;
    
}
table{
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5); 
}
table,
td,
tr {
    border-collapse: collapse;
    padding: 14px;

}


table {
    text-align: center;
    width: 59%;
    height: 453px;
    margin: -3px;
}



.mapas {
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    right: 4px;

}

.map {
    display: block;
    width: 160px;
    height: 160px;
    margin: 10px;
    border-radius: 6px;
}


.box {
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;

}

.box:hover {
    transform: scale(1.3);
    z-index: 2;
}


#foto-schedule {
    width: 281px;
    position: relative;
    top: 50px;
    border-radius: 6px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);

}


/*FIN SCHEDULE*/




/*INICIO ABOUT US*/


.contenedor {
    display: flex;
    justify-content: end;
    margin-right: 22px;
    border-right-width: 59px;
    font-family: 'Poppins', sans-serif;

}

.imag-style-about {
    width: 31%;
    margin-left: 23px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
}

#style-about {
    margin-left: 496px;
    position: relative;
    bottom: 505px;
    left: 11px;

}


/*FIN ABOUT US*/



/*INICIO CONTACT*/
.contenedor-contact {
    display: flex;
    margin-bottom: 152px;

}


#contacto-style-1 {
    position: relative;
    right: -11px;
    bottom: -106px;
}


.redes-style {
    width: 10px;

}

.redes-sociales {

    position: relative;
    bottom: -383px;
    right: -212px;
}

#img-contact {
    margin: 50px;
    width: 300px;
    border-radius: 6px;
    box-shadow: 5px 5px 20px black;
}

.cont-colum-contact {
    display: flex;
    flex-direction: column;
}

/*imagen con redes sociales y efeccto*/
.imag-style-1 {

    width: 37%;
    height: 200px;
}

.card {
    height: 428px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
    left: 238px;
    bottom: -181px;
    width: 213%;
}

.card img {
    height: 450px;
    width: 400px;
    border-radius: 6px;

}



.intro {
    height: 40px;
    width: 350px;
    padding: 4px;
    position: absolute;
    bottom: 150px;
    color: #fff;
    transition: .5s;
}

.intro h3 {
    margin: 8px;
    font-size: 30px;
}

.intro p {
    margin: 18x;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
}

.intro h4 {
    margin: 18px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
}

.card:hover {
    cursor: pointer;

}

.card:hover .intro {

    width: 400px;
    height: 220px;
    bottom: 350x;

}

.card:hover p {
    opacity: 1;
    visibility: visible;

}

.card:hover h4 {
    opacity: 1;
    visibility: visible;

}

.card:hover img {
    transform: scale(1.1) rotate(-4deg);
}

/* .img-contact-png{
margin: 0;
}
#img-contact-png{
    width: 100px;
    position: relative;
    left: 50px;
    bottom: 50px;
} */
/*FIN CONTACT*/





/*INICIO DE FORM*/

.contenedor-form {
    width: 65%;
    padding: 15px;
    margin: 30px;

    background-color: white;
    position: relative;
    left: 200px;
    cursor: pointer;
    
}

fieldset {
    background-color: transparent;
    border-color: transparent;
    padding: 5px;

}



.text input {
    border: none;
    border-bottom: 1px solid #584B4F;
}

legend {
    font-size: 20px;
    font-weight: 800;
}



.apellido {
    padding-left: 80px;
}

.form-calles input {
    width: 50%;
}

.zip-code {
    padding-left: 71px;
}

#city {
    width: 27%;
}

.parent {
    padding-left: 78px;
}

.form-genero label{
    margin-right: 71px;
}
.form-grade label{
    margin-right: 82px;
}


#form-logo{
    width: 267px;
}
.div-form-img{
    position: relative;
    bottom: 1142px;
    left: 937px;
}
.form-position, .form-ropa{
   
    display: flex;
    flex-direction: row;      
 
}
.position, .ropa-1{
    padding-right: 50px;
}

